.extension-container {
  width: 200px;
  height: auto;

  padding: 16px;
  border-radius: 10px;
  background-color: palegoldenrod;
}

.extension-title {
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}

.extension-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
